<mat-toolbar color="primary">
  <div class="max-w-screen flex flex-row w-full h-full">
    <div class="absolute-left-0 flex items-center w-full">
      <a routerLink="/Home">
        <img src="../../assets/logo/CineSix.png" class="h-14" alt="Flowbite Logo" />
      </a>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto" id="mobile-menu-2">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 md:mt-0 md:border-0">
        <li>
          <button mat-button routerLink="/Home" class="block py-2 pl-3 pr-4 rounded md:bg-transparent" aria-current="page">Inicio</button>
        </li>
        <li>
          <button mat-button routerLink="/peliculas" class="block py-2 pl-3 pr-4 rounded md:hover:bg-transparent">Peliculas</button>
        </li>
        <li>
          <button mat-button routerLink="/entradas" class="block py-2 pl-3 pr-4 rounded md:hover:bg-transparent">Venta de Entradas</button>
        </li>
        <li>
          <button mat-button routerLink="/paginaPrincipal" class="block py-2 pl-3 pr-4 rounded md:hover:bg-transparent">Contacto</button>
        </li>
      </ul>
    </div>
    <div class="flex justify-end items-center w-full">
      <button mat-raised-button class="m-2" color="accent" routerLink="/login">Login</button>
      <button mat-raised-button class="m-2" color="accent" routerLink="/register">Register</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/paginaPrincipal">
        <mat-icon class="w-full">add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
