<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div id="alert-border-2" class="flex p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert" *ngIf="result">
      <svg class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium">
        {{this.result}}
      </div>
    </div>
    <div class="flex items-center justify-center flex-col font-bold w-full">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/paginaPrincipal" color="accent">
        <mat-icon class="scale-150">movie</mat-icon>
      </button>
      <button mat-button color="warn" class="text-4xl mb-4">
        CineSix
      </button>
    </div>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2 class="text-xl flex justify-center">
          Registro
        </h2>
        <form class="space-y-4 md:space-y-6" (ngSubmit)="register(form.value)" #form="ngForm">
          <div>
            <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre y
              Apellidos</label>
            <input mat-input type="text" name="fullname" id="fullname" placeholder="Pepe Cano" ngModel
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" />
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
            <input mat-input type="email" name="email" id="email" ngModel
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com" required="" />
          </div>
          <div>
            <label for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input mat-input type="password" name="password" id="password" placeholder="••••••••" ngModel
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" />
          </div>
          <div>
            <label for="birthDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de
              Nacimiento</label>
            <input mat-input type="date" name="birthDate" id="birthDate" ngModel
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" />
          </div>
          <button mat-raised-button color="primary" type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Registrarse
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Inicia
              sesión</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
