<div>
  <div class="my-8">
    <form>
      <div class="flex flex-row justify-center">
        <div class="mx-16">
          <label for="fecha" class="block text-base font-medium text-gray-900">Fecha</label>
          <select id="fecha"
            class="block px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="superMario">28 de julio 17:00</option>
            <option value="jhonWick4">29 de julio 18:30</option>
            <option value="3Mosqueteros">30 de julio 20:00</option>
            <option value="exorcistaPapa">31 de julio 22:00</option>
          </select>
        </div>
        <div class="mx-16">
          <label for="sala" class="block text-base font-medium text-gray-900">Horario y Sala</label>
          <select id="sala"
            class="block px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="sala1">Sala 1</option>
            <option value="sala2">Sala 2</option>
            <option value="sala3">Sala 3</option>
            <option value="sala4">Sala 4</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="flex justify-center my-8">
    <table>
      <tr *ngFor="let fila of dataSource">
        <td *ngFor="let element of fila" class="p-3">
          <button mat-button *ngIf="element.asiento.ocupado">
            <img src="../../../../assets/images/seats/ocupado.png">
          </button>
          <button mat-button *ngIf="!element.asiento.ocupado">
            <img src="../../../../assets/images/seats/libre.png">
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="flex justify-center my-8">
    <button mat-raised-button color="accent" routerLink="/compra"
      class="text-white font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5">Comprar entradas</button>
  </div>
</div>
