<div class="m-24 grid md:grid-cols-3 gap-4 sm:grid-cols-2 lg:grid-cols-4">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div>
      <img class="rounded-t-lg w-96 h-64" src="../../../assets/images/marioBros.jpg" alt="" />
    </div>
    <div class="p-5">
      <div>
        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Super Mario Bros</p>
      </div>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un fontanero llamado Mario viaja por un laberinto subterráneo con su hermano, Luigi, intentando salvar a una princesa capturada.</p>
      <div
        class="inline-flex items-end text-sm font-medium text-center max-h-full">
        <button mat-flat-button color="accent" routerLink="/entradas">
          Comprar Entradas
          <mat-icon class="ml-2">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div>
      <img class="rounded-t-lg w-96 h-64" src="../../../assets/images/jhonWick4.jpg" alt="" />
    </div>
    <div class="p-5">
      <div>
        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">John Wick: Chapter 4</p>
      </div>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">John Wick, legendario asesino retirado, vuelve de nuevo a la acción impulsado por una incontrolable búsqueda de venganza.</p>
      <div
        class="inline-flex items-center text-sm font-medium text-center">
        <button mat-flat-button color="accent" routerLink="/entradas">
          Comprar Entradas
          <mat-icon class="ml-2">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div>
      <img class="rounded-t-lg w-96 h-64" src="../../../assets/images/3Mosqueteros.jpg" alt="" />
    </div>
    <div class="p-5">
      <div href="#">
        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Los tres mosqueteros: D'Artagnan</p>
      </div>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A D'Artagnan (François Civil), un intrépido joven, se le da por muerto después de intentar salvar a una joven que iba a ser secuestrada. Cuando llega a París, intenta de todas las maneras encontrar a sus agresores. </p>
      <div
        class="inline-flex items-center text-sm font-medium text-center">
        <button mat-flat-button color="accent" routerLink="/entradas">
          Comprar Entradas
          <mat-icon class="ml-2">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div>
      <img class="rounded-t-lg w-96 h-64" src="../../../assets/images/exorcista.jpg" alt="" />
    </div>
    <div class="p-5">
      <div href="#">
        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">El exorcista del Papa</p>
      </div>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El exorcista del Papa sigue a este sacerdote mientras investiga la aterradora posesión de un niño y acaba descubriendo una conspiración secular que el Vaticano ha tratado desesperadamente de mantener oculta. </p>
      <div
        class="inline-flex items-center text-sm font-medium text-center">
        <button mat-flat-button color="accent" routerLink="/entradas">
          Comprar Entradas
          <mat-icon class="ml-2">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

