<div>
    <div class="flex justify-center my-8 w-full">
      <table class="text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-center">Pelicula y sala</th>
            <th scope="col" class="px-6 py-3 text-center">Precio</th>
            <th scope="col" class="px-6 py-3 text-center">Fila y asiento</th>
            <th scope="col" class="px-6 py-3 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entrada of entradasAPagar">
            <td class="px-6 py-4">{{entrada.id_pelicula.nombre}}, Sala: {{entrada.id_sala.numero_sala}}</td>
            <td class="px-6 py-4">{{precio}} €</td>
            <td class="px-6 py-4">Fila: {{entrada.fila}} Asiento: {{entrada.asiento}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center my-8 h-full items-center flex-col">
      <p>Total: {{precioTotal}} €</p>
      <button mat-raised-button color="accent"
        class="text-white font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5" (click)="comprarEntradas()">Comprar entradas</button>
    </div>
</div>
